html,
corpo {
  altura: 100%;
}

.form-signin {
  largura máxima: 330px;
  preenchimento: 1rem;
}

.form-signin .form-floating:focus-within {
  índice z: 2;
}

.form-signin input[type="email"] {
  margem inferior: -1px;
  borda-inferior-direita-radius: 0;
  borda-inferior-esquerda-raio: 0;
}

.form-signin input[type="password"] {
  margem inferior: 10px;
  borda-superior-esquerda-raio: 0;
  raio superior direito da borda: 0;
}